{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="entry">
        <ul class="list">
            <li class="listing-item">
                <h4><a href="/admin/user">who am I</a></h4>
            </li>
            <li class="listing-item">
                <h4><a href="/admin/account">accounts</a></h4>
            </li>
            <li class="listing-item">
                <h4><a href="/admin/compose">compose</a></h4>
            </li>
            <li class="listing-item">
                <h4><a href="/admin/visible">visible after signin</a></h4>
            </li>
            <li class="listing-item">
                <h4><a href="/twitter/sync">twitter sync</a></h4>
            </li>
            <li class="listing-item">
                <h4><a href="/weibo/sync">weibo sync</a></h4>
            </li>
            <li class="listing-item">
                <h4><a href="/rss/sync">rss sync</a></h4>
            </li>
            <li class="listing-item">
                <h4><a href="/signout">sign out</a></h4>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
