{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="entry">
        <form action="" method="post" class="update">
            {% if message %}
            <div class="entry tips">{{ message }}</div>
            {% endif %}
            <div><textarea class="minput" name="status">{{ status | e }}</textarea></div>
            <div>
                <ul class="vlist">
                    {% for s in ["twitter", "weibo", "moments"] %}
                    <li>
                        <input type="checkbox" name="compose" id="{{ s }}"
                        {{ "checked='checked'" if s in checked else ""  }} value="{{ s }}" />
                        <label for="{{ s }}">{{ s }}</label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                {{ xsrf_form_html() }}
                <input type="submit" value="compose" class="button" />
                {% if error %}
                <span class="error">{{ error }}</span>
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}