{% extends 'base.html' %}

{% block content %}
    {% if posts_dict %}
        {% for k,v in posts_dict.items() | sort(reverse=True) %}
            <div class="past_title">{{ k }}<span class="past_count">{{ v | length }}</span>
            </div>
            {% for post in v %}
            <div class="entry">
                <div class='title'>
                    {% for source in post.source.strip("|").split("|") %}
                    <span class="tag"><a href="/{{ source }}">{{ source }}</a></span>
                    {% endfor %}
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </div>
                <div class="content {{ " ".join(post.source.strip("|").split("|")) }}">
                    {{  post.content }}
                </div>
                <div>
                    <ul class="info">
                        <li>posted on {{ post.create_time }}</li>
                        {% if current_user %}
                        <li><a href="#" onclick="if (confirm('delete post \'{{ post.title }}\' ?')){
                            location.href = '/post/delete/{{ post.id }}';
                        }">delete</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        <div class="past_title">Nothing here.</div>
    {% endif %}

    <div class="pager">
        <a class="pre" href="/past/{{ yesterday }}">yesterday</a>
        &nbsp;&nbsp;&nbsp;
        <a class="next" href="/past/{{ tomorrow }}">tomorrow</a>
    </div>
{% endblock %}


