<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel='alternate' type='application/rss+xml' title='atom 1.0' href='/feed' />
	<link rel="icon" type="image/png" href="/static/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script type="text/javascript">
		function ChangeStyle(){
		    var doc=document;
		    var style=doc.createElement("style");
		    style.setAttribute("type", "text/css");
		    cssString = ".wrap{width:100% !important;margin:0 !important;}" +
						".left{width:13% !important;}"+
						".left, .header{margin-left: 0;}" +
						".right{width:87% ;}.right .entry{margin: 0 5% 50px 0;}";

		    if(style.styleSheet){ // IE
		        style.styleSheet.cssText = cssString;
		    } else {
		        var cssText = doc.createTextNode(cssString);
		        style.appendChild(cssText);
		    }

		    var heads = doc.getElementsByTagName("head");
		    if(heads.length)
		        heads[0].appendChild(style);
		    else
		        doc.documentElement.appendChild(style);
		}
	</script>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<a href="/">{{ site["title"] or "Site Title Here" }}</a>
			<span>{{ site["description"] or "Site Description Here" }}</span>
		</div>
		<div class="left">
			<ul class="list">
				<li><a href="/" title="Home">timeline</a></li>
				{% for s in source %}
				<li><a href="/{{ s }}" title="{{ s }}">{{ s }}</a></li>
				{% endfor %}
				<li><a href="/past" title="past">past</a></li>
				{% for l in links %}
				<li><a href="{{ l['link'] }}" title="{{ l['title'] }}" target="_blank">{{ l['name'] }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="right">
			{% block content %}
    		{% endblock %}
		</div>

		<div class="footer">
			©2013 <a href="{{ site['domain'] }}">{{ site["title"] }}</a>. Designed by <a href="http://caoyue.me" target="_blank">caoyue</a>, Project <a href="https://github.com/caoyue/mytimeline" target="_blank">MyTimeline</a>.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="ChangeStyle()">wide view</a>
		</div>
	</div>
</body>
</html>