{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="entry">
        <span class="info"><a href="/statistic">All</a></span>
        {% for y in year_list %}
        <span class="info"><a href="/statistic/{{ y }}">{{ y }}</a></span>
        {% endfor %}
    </div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});


    </script>
    <script type="text/javascript">
      function draw_hour() {
        var data = google.visualization.arrayToDataTable(
          {{ hour_count }}
        );

        var options = {
          title: 'Hourly - {{ year }}'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_hour'));
        chart.draw(data, options);
      }
    </script>

    <div id="chart_hour" style="width:900px;height:500px;"></div>

    <script type="text/javascript">
      function draw_month() {
        var data = google.visualization.arrayToDataTable(
          {{ month_count }}
          );

        var options = {
          title: 'Monthly - {{ year }}'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_month'));
        chart.draw(data, options);
      }
    </script>
    <div id="chart_month" style="width:900px;height:400px;"></div>

    <script type="text/javascript">
      function draw_source() {
          var data = google.visualization.arrayToDataTable(
            {{ source_count if source_count else "" }}
            );

          var options = {
            title: 'Source - {{ year }}'
          };

          var chart = new google.visualization.PieChart(document.getElementById('chart_source'));
          chart.draw(data, options);
        }
    </script>
    <div id="chart_source" style="width:900px;height:400px;"></div>
    <script type="text/javascript">
      google.setOnLoadCallback(draw_hour);
      google.setOnLoadCallback(draw_month);
      google.setOnLoadCallback(draw_source);
    </script>
{% endblock %}